@model MVC_App.Models.Snippet

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Snippet</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content"
                          class="form-control"
                          placeholder="paste your snippet here"
                          rows="10">

                </textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lang" class="control-label"></label>
                <select asp-for="Lang" class="form-control" asp-items="ViewBag.langs"></select>
                <span asp-validation-for="Lang" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label class="control-label">Tags:</label>



            </div>

            <div class="form-group">
                <ul style="list-style-type: none;">

                    @foreach (var tag in ViewBag.tags)
                    {
                        <li>

                            <label for="@tag.Id">
                                @if (Model.Tags.Contains(tag))
                                {
                                    <input type="checkbox" name="tag-@tag.Id" id="@tag.Id" checked>
                                }
                                else
                                    {
                                                <input type="checkbox" name="tag-@tag.Id" id="@tag.Id">
                                    }

                                @tag.Name

                            </label>
                        </li>
                    }

                </ul>

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
